// Fonts family
$body-font-family: "Rubik"
$heading-font-family: "Faro"

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

// MAIN COLORS
$color-accent: #FC0D1B
$color-text: #3F0303
$color-text-alt: #9D6A53
$color-background: #FFFFFF
$color-background-brown: #F0EBEB
$color-background-alt: #F4FAFA
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)


// New colors
$color-background-brown: #F0EBEB
// $btn-hover-background: #{$btn-hover-background}


//TYPOGRAPHY

// h1
$h1-size-desktop: pxToRem(54)
$h1-line-height-desktop: pxToRem(46)

// h2
$h2-size-desktop: pxToRem(43)
$h2-line-height-desktop: pxToRem(33)

// h3
$h3-size-desktop: pxToRem(30)
$h2-line-height-desktop: pxToRem(33)
$h3-size: $h3-size-desktop
$h3-line-height: $h2-line-height-desktop

// h4
$h4-size-desktop: pxToRem(20)
$h4-line-height-desktop: pxToRem(23)
$h4-size: $h4-size-desktop
$h4-line-height: $h4-line-height-desktop

// Lead
$lead-font-family: $body-font-family
$lead-size-desktop: pxToRem(26)
$lead-line-height-desktop: pxToRem(35)
$lead-size: pxToRem(21)
$lead-line-height: pxToRem(32)

// Body
$body-size-desktop: pxToRem(20)
$body-line-height-desktop: pxToRem(30)
$body-size: pxToRem(17)
$body-line-height: pxToRem(27)

// Meta
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(16)
$meta-size: pxToRem(14)
$meta-line-height: pxToRem(23)

// Quotes
$quote-size-desktop: pxToRem(30)
$quote-line-height-desktop: pxToRem(42)
