// Fonts family
$body-font-family: "Rubik"
$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif 

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

// MAIN COLORS
$color-accent: #0038FF   
$color-text: #3F0303
$color-text-alt: #9D6A53 
$color-background: #F0EBEB   
$color-background-alt: #F4FAFA
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background   
$color-selection-background: rgba($color-text, .7)

// New colors
$color-red: #FC0D1B 
$btn-hover-color: $color-red !important

$body-color: var(--color-text)   
$body-background-color: var(--color-background)   
$link-color: var(--color-text)   

$backdrop-color: rgba(255, 255, 255, 0.80)   
$backdrop: blur(5px)   