// home
.page__home
    .hero
        .content
            hgroup
                h1
                    @extend .sr-only
                &.has-lead > p
                    @include h1
    @include media-breakpoint-up(desktop)
        &.full-width
            main > .document-content .blocks
                --block-space-y: #{space(34)}
        main
            background-size: 100% 65vh

// projects
.projects__section,
.projects__page
    .taxonomies-list--inline
        @include grid(1)
    .taxonomy-categories
        justify-content: center
    .taxonomy-categories,
    .taxonomies-single
        display: flex
        flex-wrap: wrap
        gap: $spacing-2 space()
        @include media-breakpoint-up(desktop)
            gap: $spacing-1 $spacing-2
        li a
            @extend .btn
            @extend .button--small
            @extend .button--accent
            background: none
            line-height: 1
            min-width: unset

.projects__section
    .hero
        padding-bottom: 0
        margin-bottom: $spacing-2
    table.projects-list
        border-bottom: 1px dashed var(--color-text-alt)
        th, td:not(.project-title)
            @include meta
        a
            text-decoration: none
            line-height: 1
        thead
            color: var(--color-text-alt)
            th
                font-weight: 400
        tr
            position: relative
            td:first-of-type
                @include h6
                a
                    @include stretched-link
                @include media-breakpoint-up(desktop)
                    @include h4
            // columsn width and spacings
            td:not(:last-of-type)
                padding-right: 0
                width: calc(#{columns(2)} + var(--grid-gutter))
            th:first-of-type,
            td:first-of-type
                padding-left: var(--grid-gutter)
                min-width: 45vw
                @include media-breakpoint-up(desktop)
                    width: calc(#{columns(5)} + var(--grid-gutter))
            th:last-of-type,
            td:last-of-type
                padding-right: var(--grid-gutter)
                text-align: right
            td + td,
            th + th
                padding-left: var(--grid-gutter)
            td
                border-top-style: dashed
                border-top-width: 1px
                border-color: var(--color-text-alt)
        // hover effect
        tbody
            td:not(.project-title)
                a
                    position: relative
                    z-index: 2
                    text-decoration-color: $color-background
                    &:hover
                        @include link(inherit)
            tr
                &:first-of-type td
                    border-color: var(--color-text)
                &:hover
                    background: var(--color-accent)
                    td, a
                        color: var(--color-background)
                    &, + tr
                        td
                            border-color: var(--color-accent)
    @include media-breakpoint-down(desktop)
        .table-responsive
            margin-right: 0
            padding-right: 0

.projects__page
    .hero
        .hero-text
            padding-bottom: 0
            h1
                width: columns(7)
                @include media-breakpoint-down(desktop)
                    width: 100%
                span
                    @include body-text
                    color: var(--color-text)
                    font-weight: 300
        > .container
            display: flex
            flex-direction: column
            .project-year
                order: -1
            @include media-breakpoint-down(desktop)
                .hero-text
                    margin-top:  $spacing-3
        @include media-breakpoint-up(desktop)
            margin-bottom: 0
            &.hero--with-image, .content
                padding-top: 0
                figure
                    margin-top: 0
            .container
                padding: 0
            .project-year
                margin-top: $spacing-5
            .hero-text
                @include container
                padding-left: calc(#{offset(2)} + var(--grid-gutter))
                hgroup
                    flex-direction: column
                    width: columns(7)
                h1
                    display: flex
                    align-items: baseline
                    span
                        position: absolute
                        right: var(--grid-gutter)
                    + p
                        margin-top: $spacing-2 !important
                .taxonomies-single
                    margin: 0
            figure
                order: -1
                width: 100%
                img
                    height: $hero-project-image-height
                figcaption
                    padding-left: var(--grid-gutter)
                    padding-right: var(--grid-gutter)
                    &::before
                        right: var(--grid-gutter)
            &:not(.hero--with-image)
                .project-year
                    @include container
                    time
                        margin-left: offset(2)
                .hero-text
                    margin-top: $spacing-3
            &.hero--with-image
                .project-year
                    left: 0
                    padding-left: var(--grid-gutter)
                    padding-right: var(--grid-gutter)
                    position: absolute
                    top: $hero-project-image-height
    .document-content
        .project-sidebar
            display: none
        .block-siblings-navigation
            display: none
        @include media-breakpoint-up(desktop)
            &:not(.full-width)
                .blocks
                    .block-content
                        padding-left: offset(2)
                        padding-right: offset(2)
                    .block-chapter
                        .block-content
                            padding-right: offset(1)
    .block-image.image-landscape,
    .block-gallery--large
        figure
            margin-bottom: var(--grid-gutter) !important
            @include media-breakpoint-down(desktop)
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
    .block-gallery,
    .block-image
        margin-bottom: var(--grid-gutter)
        figcaption
            @include meta
            .credit
                color: var(--color-text-alt)
    .block-gallery + .block-image,
    .block-image + .block-gallery,
    .block-gallery + .block-gallery,
    .block-image + .block-image
        margin-top: 0
    // others projects block
    .blocks .block:last-child
        &.block-projects--grid
            border-top: 1px dashed var(--color-text-alt)
            padding-top: $spacing-4
            .block-title
                @include h2
                text-align: center
                a::after
                    opacity: 0
                a:hover::after
                    opacity: 1
            @include media-breakpoint-up(desktop)
                margin-top: space(33)
                padding-top: space(37)
                .block-content
                    padding-right: 0
                    padding-left: 0
    @include media-breakpoint-up(desktop)
        html:not(.has-menu-opened) &
            #document-header:not(.sticky)
                background-color: $header-sticky-background
                figure
                    top: unset
                .logo
                    img
                        display: none
                    + figcaption
                        display: block
                        border: 0 !important
                        clip: unset !important
                        clip-path: unset !important
                        height: auto !important
                        overflow: unset !important
                        padding: unset !important
                        margin: unset !important
                        position: static !important
                        width: unset !important
                        white-space: unset !important
        &:not(.full-width)
            .block-gallery--grid
                .gallery
                    @include grid(2)
                    figure
                        button
                            width: 100%
                        img
                            aspect-ratio: 1.36/1
                            object-fit: cover
        .block-image
            .block-content
                picture
                    margin: 0
                    width: columns(8)
// global
.block-projects--grid,
.projects
    .projects--grid
        @include grid(3, desktop)
        .project-content
            .project-title
                @include h4
                color: $color-text
            .project-subtitle
                @include meta
                color: $color-text
            .project-meta
                time
                    color: $color-text
        .media
            img
                aspect-ratio: 1.36/1
                object-fit: cover
