.button--accent
    --btn-color: var(--color-text)
    --btn-background: var(--color-background)
    --btn-border: #{$btn-border-width} dotted var(--btn-color)
    --btn-hover-color: var(--color-background)
    --btn-hover-background: var(--color-accent)
    --btn-hover-border: #{$btn-border-width} solid var(--btn-hover-background)
    --btn-border-radius: 50px

footer#document-footer
    .footer-legals
        .nav-legal
            display: flex
            gap: space(5)
            li
                margin-top: 0px
    //@include media-breakpoint-up(deskstop)
        //.container
            //display: flex
            //justify-content: center

header#document-header
    .menu
        ul li
            a
                &:hover
                    color: var(--color-accent)
        .active
            color: var(--color-accent)

// HOME
.page__home
    .hero
        .content
            hgroup
                h1
                    @extend .sr-only
                &.has-lead > p
                    @include h1
                    