.button--accent
    --btn-color: var(--color-text)
    --btn-background: var(--color-background)
    --btn-border: #{$btn-border-width} dotted var(--btn-color)
    --btn-hover-color: var(--color-background)
    --btn-hover-background: var(--color-accent)
    --btn-hover-border: #{$btn-border-width} solid var(--btn-hover-background)
    --btn-border-radius: 50px