.block-call_to_action
    .call_to_action
        .description p
            @include lead-hero
        .actions
            a:first-child
                @extend .button--accent
    @include in-page-without-sidebar
        .block-content
            justify-content: center
            .call_to_action--without-image:not(.call_to_action--without-text)
                > div
                    display: flex
                    flex-direction: column
                    margin: auto
                    max-width: columns(10)
                    align-items: center
                    text-align: center
                    .block-title
                        margin-bottom: $spacing-3
                    .description
                        max-width: 100%
                        margin-bottom: space(8)

.block-categories--grid
    .block-content
        .category-item
            .category-content
                order: -1
                text-align: center
                text-wrap: balance
                margin-bottom: space(5)
            .media
                img
                    aspect-ratio: 1.36/1

.block-persons
    &.block-with-long-text
        .persons
            padding-bottom: space(8)
            border-bottom: 1px dotted var(--color-text-alt)
            .person
                margin-bottom: space(25)
                .person-name
                    @include h3
                .person-role
                    p
                        max-width: 91%

.block-chapter
    .block-content
        .chapter
            margin-bottom: space(25)
            .top
                margin-bottom: $spacing-3
                .block-title
                    @include h4

.block-organizations
    .block-content
        .top
            .block-title
                @include h4
        .organizations
            .organization
                .media--logo
                    background: none
