// HEADER
header#document-header
    .logo + figcaption
        @include h3
    &:not(.is-sticky)
        .logo + figcaption
            @extend .sr-only
    &.is-sticky
        .logo img
            @extend .sr-only
    .primary-menu
        padding-top: space(5)
        padding-bottom: $spacing-6
        .dropdown-menu
            position: absolute
            top: space(40)
            .nav-level-2
                @include grid(3, md)
                a
                    @include h2
                    text-align: center
                    text-decoration: none
        .nav-level-1 > li
            a:hover
                color: var(--color-accent)
            &:not(.has-children) .active
                color: var(--color-accent)
        .container
            figure
                @include media-breakpoint-up(desktop)
                    position: absolute
                    left: 50%
                    top: space(5)
                    transform: translateX(-50%)
            #navigation
                width: columns(12)
                li:nth-of-type(2)
                    margin-right: auto
                .has-children
                    a
                        padding-left: 0

// FOOTER
footer#document-footer
    padding-top: space(100)
    padding-bottom: 0
    border-bottom: 5px solid var(--color-text)
    @include media-breakpoint-down(desktop)
        border-bottom: 3px solid var(--color-text)
        display: flex
        padding-top: $spacing-6
    .container:first-child //Logo
        @include media-breakpoint-down(desktop)
            align-self: end
        .footer-logo
            @include media-breakpoint-up(desktop)
                padding-bottom: 0
                margin-bottom: -5px
                position: absolute
                bottom: 0%
                left: 50%
                transform: translateX(-50%)
            img
                @include media-breakpoint-down(desktop)
                    height: space(25)
        .footer-site
            @include media-breakpoint-down(desktop)
                margin-top: -3px
    .container:last-child
        @include media-breakpoint-down(desktop)
            display: flex
            flex-direction: column-reverse
            margin-top: 0
        margin-bottom: space(2)
        .footer-legals
            @include media-breakpoint-down(desktop)
                text-align: right
            .nav-legal
                display: flex
                gap: space(5)
                @include media-breakpoint-down(desktop)
                    flex-direction: column
                    gap: 0
                li
                    margin-top: 0px
            .footer-credit
                display: none
        .footer-social
            @include media-breakpoint-down(desktop)
                align-self: flex-end

// BUTTON
.button
    &--accent,
    &--alt
        --btn-color: var(--color-text)
        --btn-background: var(--color-background)
        --btn-border: #{$btn-border-width} dotted var(--btn-color)
        --btn-hover-color: var(--color-background)
        --btn-hover-background: var(--color-accent)
        --btn-hover-border: #{$btn-border-width} solid var(--btn-hover-background)
