{{ partial "projects/section/hero.html" . }}
<div class="document-content">
  {{ partial "projects/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

    {{ partial "taxonomies/section-list-container.html" . }}


    {{/*  TODO: set index projects as table  */}}
    <div class="project-list-header">
      <div id="index-title">{{ i18n "projects.index.header.title" }}</div>
      <div id="index-type">Type</div>
      <div id="index-type">Domaine</div>
      <div id="index-type">Lieu</div>
      <div id="index-year">Date</div>
    </div>

    <ol class="project-list">
      {{ range .Pages }}
        <li id="index-list">
          <a href="{{ .RelPermalink }}" class="project-link">
            <div id="index-title">
                {{ .Title }}
            </div>
            <div id="index-type">
                {{ .Params.year }}
            </div>
            <div id="index-type">
                {{ .Params.year }}
            </div>
            <div id="index-type">
                {{ .Params.Subtitle }}
            </div>
            <div id="index-year">
                {{ .Params.year }}
            </div>
          </a>
        </li>
      {{ end }}
    </ol>

    {{/* Display the contents list only on the first page */}}

    {{ if (partial "IsFirstPage" .) }}
      {{ partial "contents/list.html" . }}
    {{ end }}
</div>
