{{ partial "projects/section/hero.html" . }}
<div class="document-content">
  {{ partial "projects/section/summary.html" (dict
      "with_container" true
      "context" .
    ) }}

    {{ partial "taxonomies/section-list-container.html" . }}

    <div class="table-responsive">
      <table class="projects-list">
        <thead>
          <tr>
            <th>{{ i18n "projects.index.table.title" }}</th>
            <th>{{ i18n "projects.index.table.type" }}</th>
            <th>{{ i18n "projects.index.table.domain" }}</th>
            <th>{{ i18n "projects.index.table.location" }}</th>
            <th>{{ i18n "projects.index.table.date" }}</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Pages }}
            {{ $project_type := "" }}
            {{ $project_domain := "" }}
            {{ range .Params.taxonomies }}
              {{ if eq .name (i18n "projects.index.table.type") }}
                {{ range .categories }}
                    {{ $project_type = . }}
                {{ end }}
              {{ end }}
              {{ if eq .name (i18n "projects.index.table.domain") }}
                {{ range .categories }}
                  {{ $project_domain = . }}
                {{ end }}
              {{ end }}
            {{ end }}
            <tr>
              <td class="project-title">
                <a href="{{ .RelPermalink }}" class="project-link">{{ .Title }}</a>
                {{ with .Params.image }}
                  <div aria-hidden="true">
                    {{ partial "projects/partials/project/media.html" (dict
                        "image" .
                        "sizes" (dict
                          "mobile" 200
                          "tablet" 200
                          "desktop" 200
                        )
                      ) }}
                  </div>
                {{ end }}
              </td>
              <td {{ if eq $project_type "" -}} class="mobile-hidden" {{- end }}>
                {{ with $project_type }}
                  <a href="{{ .permalink }}" class="project-link">{{ .name }}</a>
                {{ else }}
                  <span class="sr-only">{{ i18n "projects.index.table.no_data" }}</span>
                {{ end }}
              </td>
              <td {{ if eq $project_domain "" -}} class="mobile-hidden" {{- end }}>
                {{ with $project_domain }}
                  <a href="{{ .permalink }}" class="project-link">{{ .name }}</a>
                {{ else }}
                  <span class="sr-only">{{ i18n "projects.index.table.no_data" }}</span>
                {{ end }}
              </td>
              <td {{ if eq .Params.Subtitle "" -}} class="mobile-hidden" {{- end }}>
                {{ with .Params.Subtitle }}
                  {{ . }}
                {{ else }}
                  <span class="sr-only">{{ i18n "projects.index.table.no_data" }}</span>
                {{ end }}
              </td>
              <td>
                {{ .Params.year }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{/* Display the contents list only on the first page */}}

    {{ if (partial "IsFirstPage" .) }}
      {{ partial "contents/list.html" (dict
        "context" .
        "contents" .Params.contents
      ) }}
    {{ end }}
</div>
