{{ if and (eq .Type "projects") (eq .Kind "page") }}
  <div class="project-year">
    <time datetime="{{ .Params.year }}">{{ .Params.year }}</time>
  </div>
{{ else if eq .Type "projects_categories" }}
  {{ with $tags := site.GetPage "/projects_categories" }}
    <ul class="projects-categories">
      {{ range .Pages }}
        {{ if and (eq .Params.is_taxonomy false) (in .Params.parent "projects_categories/type") }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
{{ end }}